extends ../../layouts/admin

block content
    .container
        h1 Crear partido

        form(action="/admin/matches" method="post")
            .card
                .card-header
                    | General
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="year") Año
                        input.form-control.col-sm-10(type="text" name="year")
                    .form-group.row
                        label.col-form-label.col-sm-2(for="order") Orden
                        input.form-control.col-sm-10(type="text" name="order")
                    .form-group.row
                        label.col-form-label.col-sm-2(for="place") Estadio y fecha
                        input.form-control.col-sm-10(type="text" name="place")
                    .form-group.row
                        label.col-form-label.col-sm-2(for="comment") Comentario adicional
                        input.form-control.col-sm-10(type="text" name="comment")

                .card-header
                    | Local
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeClub") Club
                        .form-check
                            select(name="homeClub")
                                option(value="") Elegir
                                each club in clubs
                                    option(value=club._id) #{club.name}

                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeScore") Marcador
                        input.form-control.col-sm-10(type="text" name="homeScore")

                    .form-group.row
                        label.col-form-label.col-sm-2(for="homeScorer") Goleadores (a,b)
                        input.form-control.col-sm-10(type="text" name="homeScorer")


                .card-header
                    | Visitante
                .card-body
                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayClub") Club
                        .form-check
                            select(name="awayClub")
                                option(value="") Elegir
                                each club in clubs
                                    option(value=club._id) #{club.name}

                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayScore") Marcador
                        input.form-control.col-sm-10(type="text" name="awayScore")

                    .form-group.row
                        label.col-form-label.col-sm-2(for="awayScorer") Goleadores (a,b)
                        input.form-control.col-sm-10(type="text" name="awayScorer")

            button.btn.btn-primary(type="submit") Crear
