extends ../../layouts/admin

block content
    .container
        h1 Lista de partidos

        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Partido
                    th(scope='col') Editar
                    th(scope='col') Borrar
            tbody
                each match, key in matches
                    tr
                        th(scope='row') #{key+1}
                        td #{match.year}, #{match.order}
                        td
                            a(href="/admin/matches/"+match._id+"/edit") Editar
                        td
                            form(action="/admin/matches/"+match._id+"?_method=DELETE" method="post" onsubmit="return confirmDelete('"+match.year+", "+match.order+"')")
                                input.btn.btn-link(type="submit" value="Borrar" )

block customBodyScripts
    script(src="/js/confirm.js")