extends ../../layouts/admin

block content
    .container
        h1 Crear edici칩n

        form(action="/admin/editions" method="post" enctype="multipart/form-data")
            .form-group.row
                label.col-form-label.col-sm-2(for="year") A침o
                input.form-control.col-sm-10(type="text" name="year")

            .form-group.row
                label.col-form-label.col-sm-2(for="champion") Campe칩n
                select(name="champion")
                    option(value="") Campe칩n
                    each club in clubs
                        option(value=club._id) #{club.name}

            .form-group.row
                label.col-form-label.col-sm-2(for="cover") Portada
                input.form-control.col-sm-10(type="file" name="cover")

            .form-group.row
                label.col-form-label.col-sm-2(for="squad") Plantel
                input.form-control.col-sm-10(type="file" name="squad")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerName") Goleador
                input.form-control.col-sm-10(type="text" name="topScorerName")

            .form-group.row
                label.col-form-label.col-sm-2(for="topScorerGoals") Goleador - cantidad
                input.form-control.col-sm-10(type="text" name="topScorerGoals")

            button.btn.btn-primary(type='submit') Submit