extends layouts/main

block customHeadScripts
    link(rel="stylesheet" href="/css/editions.css")

block content
    .container
        .row
            .col-12.text-center
                h1 Copa Libertadores #{edition.year}
        .row
            .col-12
                