extends layouts/main.pug

block customHeadScripts
    link(rel="stylesheet" href="css/index.css")

block content
    #indexCarousel.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item.active.hovereffect
                img.d-block.w-100(src='images/slider/palermo.jpg' alt='palermo')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

            .carousel-item.hovereffect
                img.d-block.w-100(src='images/slider/independiente.jpg' alt='independiente')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

            .carousel-item.hovereffect
                img.d-block.w-100(src='images/slider/colocolo.jpg' alt='colocolo')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

            .carousel-item.hovereffect
                img.d-block.w-100(src='images/slider/peñarol.jpeg' alt='peñarol')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

            .carousel-item.hovereffect
                img.d-block.w-100(src='images/slider/santos.jpg' alt='santos')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

            .carousel-item.hovereffect
                img.d-block.w-100(src='images/slider/racing.jpg' alt='racing')
                .overlay.d-flex.justify-content-center
                    p
                        a.info(href="/stories") Ver historias

block customBodyScripts
    script.
        $('.carousel').carousel({
            interval: 3000
        })