extends layouts/main.pug

block customHeadScripts
    link(rel="stylesheet" href="css/index.css")

block content
    #indexCarousel.carousel.slide(data-ride='carousel')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='images/racing.jpg' alt='First slide')
            //- .carousel-item
            //-     img.d-block.w-100(src='...' alt='Second slide')
            //- .carousel-item
            //-     img.d-block.w-100(src='...' alt='Third slide')
