extends layouts/main.pug

block customHeadScripts
    script(src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js")

block content
    //- Modal con editor de texto
    if userIsLogin
        include partials/messages
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#create-stories') Crear historia

    include stories-create
