extends layouts/main.pug

block customHeadScripts
    link(rel="stylesheet" href="/css/stories.css")
    script(src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js")

block content
    //- Modal con editor de texto
    if userIsLogin
        include partials/messages
        button#createButton.btn.btn-primary(type='button' data-toggle='modal' data-target='#create-stories') Crear historia

    #storyList.container
        each story in stories
            .row
                .col-6
                    a(href="/stories/"+story._id)
                        #cover
                            img.img-fluid(src=story.cover, alt="")
                .col-6#title
                    a(href="/stories/"+story._id)
                        h1 #{story.title}


    //- modal con formulario
    include stories-create

block customBodyScripts
    script(src="/js/frontValidation.js")
