extends layouts/main.pug

block customHeadScripts
    script(src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js")

block content
    //- Modal con editor de texto
    if userIsLogin
        include partials/messages
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#create-stories') Crear historia

    .container
        each story in stories
            .row
                .col-6
                    a(href="/stories/"+story._id)
                        img.img-fluid(src=story.cover, alt="")
                .col-6
                    a(href="/stories/"+story._id)
                        h1 #{story.title}


    //- formulario
    include stories-create

block customBodyScripts
    script.
        const title = document.getElementsByName('title')[0]
        const cover = document.getElementsByName('cover')[0]
        const content = document.getElementsByName('content')[0]
        const messageError= document.getElementById('errorMessage'); 

        const storyValidation = () =>{
            const result= false;

            const fieldsNotAreEmpty = [title, cover, content].every((item) => item.value != "");

            if(fieldsNotAreEmpty){
                result = true;
            }else{
                messageError.classList.replace('d-none', 'd-block')
            }

            return result;
        }
