extends layouts/main

block customHeadScripts
    link(rel="stylesheet" href="/css/stories.css")
    script(src="https://cdn.ckeditor.com/4.14.1/standard-all/ckeditor.js")

block content
    if userIsLogin && isCreator
        include partials/messages
        #buttons.row
            .col-12.col-md-6.columnLeftButton
                button#editButton.btn.btn-primary(type='button' data-toggle='modal' data-target='#edit-stories') Editar historia
            .col-12.col-md-6.columnRightButton
                form(action="/stories/"+story._id+"?_method=DELETE" method="post" onsubmit="return confirmDelete('"+story.title+"')")
                    input#deleteButton.btn.btn-primary(type="submit" value="Eliminar")

    #contentStory.container
        .row
            .col-12.d-flex.justify-content-center
                h1 #{story.title}
        .row
            .col-12
                .container!= story.content

    //- modal con formulario
    include stories-edit

block customBodyScripts
    script(src="/js/frontValidation.js")
    script(src="/js/confirm.js")
