#edit-stories.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Editar historia
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') ×

            .modal-body
                //- mensajes de error front
                .alert.alert-danger.d-none#errorMessage(role="alert") Título y Contenido son obligatorios

                form(action="/stories/"+story._id+"?_method=PUT" method="post" enctype="multipart/form-data" onsubmit="return storyValidation('errorMessage', 'title', 'content')")
                    .form-group.row
                        label.col-sm-2.col-form-label(for='title') Título
                        .col-sm-10
                            input.form-control(type='text' name="title" placeholder='Título' value=story.title)

                    .form-group.row
                        label.col-sm-2.col-form-label(for='cover')
                        .col-sm-10
                            img.img-fluid(src=story.cover, alt=story.title)

                    .form-group.row
                        label.col-sm-2.col-form-label(for='cover') Portada
                        .col-sm-10
                            input.form-control(type='file' name="cover")

                    .form-group.row
                        label.col-sm-2.col-form-label(for='content') Contenido
                        .col-sm-10
                            //- #editor
                            .body
                                textarea(name='content') #{story.content}
                                script.
                                    CKEDITOR.replace( 'content', {extraPlugins: ['colorbutton', 'font', 'justify', 'preview']} );

                    .form-group.row
                        .col-sm-10
                            button.btn.btn-primary(type='submit') Guardar