extends layouts/main.pug

block customHeadScripts
    script(src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js")

block content
    // Button trigger modal
    button.btn.btn-primary(type='button' data-toggle='modal' data-target='#create-stories') Crear historia
    include stories-create

    //- iniciar editor
    //- script
    //-     -ClassicEditor
    //-         .create( document.querySelector( '#editor' ) )
    //-         .then( editor => {
    //-             console.log( editor );
    //-         } )
    //-         .catch( error => {
    //-             console.error( error );
    //-         } );