/*? listado */
@media (min-width: 768px) {
	#edition {
		height: 20vw;
		width: 15vw;
		background-color: rgb(0, 0, 0);
	}
}

@media (max-width: 768px) {
	#edition {
		height: 20vw;
		width: 90vw;
		background-color: rgb(0, 0, 0);
	}
}

/*? individual */
/** titulo */
h1 {
	font-size: 3vw;
	margin-top: 3vh;
	font-family: 'Evolve';
	font-weight: 700;
	margin-bottom: 3vh;
}

#squad {
	border: 5px solid rgba(212, 195, 36, 0.952);
}

#final-title {
	height: 5vh;
	width: 100vw;
	background-color: rgb(216, 216, 201);
	margin-top: 5vh;
	font-family: Lorenza;
	font-size: 5vw;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#container-champion {
	background-color: rgb(233, 233, 222);
	height: 35vh;
	text-align: center;
	padding-top: 1vh;
}

#container-champion #copa {
	max-height: 12vh;
	margin-bottom: 1vh;
}

#container-champion #champion-name,
#country-name {
	text-transform: capitalize;
}

#container-finals #match-date {
	height: 5vh;
	width: 100%;
	background-color: rgb(94, 201, 201);
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-family: Lorenza;
	text-transform: capitalize;
	font-size: 3vh;
	text-align: center;
}

#container-finals #score {
	font-weight: bold;
}

#container-finals #country-name {
	border-bottom: 1px solid #ebe7e7;
}

#container-finals .club-name {
	text-transform: capitalize;
}

#container-finals ul {
	list-style: none;
	text-transform: capitalize;
}

/** goleadores */
#topscorer-title {
	height: 5vh;
	width: 100vw;
	background-color: rgb(216, 216, 201);
	margin-top: 5vh;
	font-family: Lorenza;
	font-size: 5vw;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#topscorer-data {
	text-transform: capitalize;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#topscorer-data img {
	margin-left: 1vw;
}

/** video */
.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
	margin-bottom: 5vh;
}

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

/** mobile */
@media (max-width: 768px) {
	h1 {
		font-size: 10vw;
	}

	#container-finals #score {
		font-size: 3.9vw;
	}
}
