/*?  fonts */
@font-face {
	font-family: 'Liberation';
	src: url('./../fonts/LiberationSerif-Regular.ttf');
}

@font-face {
	font-family: 'Lorenza';
	src: url('./../fonts/LORENZA.otf');
}

@font-face {
	font-family: 'Evolve';
	src: url('./../fonts/MADE Evolve Sans Thin (PERSONAL USE).otf');
}

@font-face {
	font-family: 'Luis George Cafe';
	src: url('./../fonts/Louis\ George\ Cafe\ Light.ttf');
}

/*? body */
body {
	min-height: 100vh;
}

/*? navegacion */
nav {
	background-color: rgb(0, 0, 0);
}
nav img {
	height: 40px;
}

#navbarNav a,
#navbarNav input[type='submit'] {
	color: rgb(228, 177, 10);
	font-family: Lorenza;
	font-size: 20px;
	letter-spacing: 1px;
}

/*? Footer */
footer {
	background-color: rgb(0, 0, 0);
	padding-top: 2vh;
	padding-bottom: 2vh;
}

footer img {
	width: 7vw;
}

@media (max-width: 768px) {
	footer img {
		width: unset;
	}
}
