/*? body */
body {
	min-height: 100vh;
}

/*? navegacion */
nav{
	background-color: rgb(0, 0, 0);
}
nav img {
	height: 40px;
}

#navbarNav a{
	color: rgb(228, 177, 10);
}

/*? Footer */
footer {
	background-color: rgb(0, 0, 0);
}
