footer.container-fluid
    .row.justify-content-center
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/conmebol.png", alt="conmebol")

    .row.justify-content-center
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/argentina.png", alt="afa")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/bolivia.png", alt="fbf")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/brasil.png", alt="cbf")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/chile.png", alt="ffch")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/colombia.png", alt="fcf")

    .row.justify-content-center
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/ecuador.png", alt="fef")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/paraguay.png", alt="apf")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/peru.png", alt="fpf")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/uruguay.png", alt="auf")
        .col-6.col-md-2
            img.img-fluid(src="/images/associations/venezuela.png", alt="fvf")

        
