if messageSuccess
    for message in messageSuccess
        .alert.alert-success(role="alert") 
            | #{messageSuccess}

if messageError
    for message in messageError
        .alert.alert-danger(role="alert")
            | #{messageError}