nav.navbar.navbar-expand-lg.navbar-dark
    a.navbar-brand(href='/') 
        img(src="/images/copa-libertadores.png" alt="copa-libertadores")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/editions') Ediciones
            li.nav-item
                a.nav-link(href='/news') Noticias
            li.nav-item
                a.nav-link(href='/stories') Historias

        ul.nav.navbar-nav.ml-auto.w-100.justify-content-end
            if userIsLogin
                li.nav-item.dropdown
                    a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | #{user.user}
                    .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                        a.dropdown-item(href='/admin') Admin
                        form(action="/logout" method="post")
                            input.dropdown-item(type='submit' value="Salir")
            else
                li.nav-item
                    a.nav-link(href='/login') Ingresar
                li.nav-item
                    a.nav-link(href='/signup') Registrarme
