nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') 
        img(src="/images/copa-libertadores.png" alt="copa-libertadores")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href='/ediciones') Ediciones
            li.nav-item
                a.nav-link(href='/noticias') Noticias
            li.nav-item
                a.nav-link(href='/historias') Historias