extends ../../layouts/admin.pug

block content
    .container
        h1 Lista club

        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Nombre
                    th(scope='col') Editar
                    th(scope='col') Borrar
            tbody
                each club, key in clubs
                    tr
                        th(scope='row') #{key+1}
                        td #{club.name}
                        td
                            a(href="/admin/clubs/"+club._id+"/edit") Editar
                        td
                            form(action="/admin/clubs/"+club._id+"?_method=DELETE" method="post" onsubmit="return confirmDelete('"+club.name+"')")
                                input.btn.btn-link(type="submit" value="Borrar" )

block customBodyScripts
    script(src="/js/admin.js")