extends ../../layouts/admin

block content
    .container
        h1 Lista ediciones

        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Año
                    th(scope='col') Editar
                    th(scope='col') Borrar
            tbody
                each edition, key in editions
                    tr
                        th(scope='row') #{key+1}
                        td #{edition.year}
                        td
                            a(href="/admin/editions/"+edition._id+"/edit") Editar
                        td
                            form(action="/admin/editions/"+edition._id+"?_method=DELETE" method="post" onsubmit="return confirmDelete('"+edition.year+"')")
                                input.btn.btn-link(type="submit" value="Borrar" )

block customBodyScripts
    script(src="/js/confirm.js")
